/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: #343434;
  background: linear-gradient(#E8F7F8, 65%, white);
  /* background: linear-gradient(#E8F7F8,100%, white); */
}

.introBackground {
  /* background: linear-gradient(#E8F7F8, 65%, white); */
  background: linear-gradient(#E8F7F8,100%, white);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
